body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: gainsboro;
  color: darkcyan
}




.languageName {
  text-align: center;
  display: inline-block;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 5px;
  vertical-align: top;
  margin: 5px;
  box-sizing: border-box;

}